[Desktop Entry]
Exec=qtparted
Name=QTParted
Icon=qtparted
Terminal=false
Type=Application
GenericName=Disk Partitioning Tool
GenericName[it]=Partizionamento di un disco
GenericName[fr]=Partitionner un disque
GenericName[fi]=Kiintolevyn partitiointityökalu
GenericName[de]=Partitionierungstool
Encoding=UTF-8
Categories=Application;System;QT;
